{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {% include 'Components/_style.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'Components/_navbar.html.twig' %}
{% endblock %}

{% block content %}
<p>Je suis dans About</p>
{% endblock %}